footer.footer
    .footer__copyright ТОО «Павлодарская Сельскохозяйственная Опытная Станция»
    .footer__year 2019
    .footer__contacts
        span #[strong Адрес:] Павлодарская область, Павлодарский район с. Красноармейка, ул. 60 лет Октября 32
        span #[strong Тел/факс:] 87184553003
        span #[strong E-mail:] #[a(href="mailto:nii07@inbox.ru") nii07@inbox.ru]