header.header
    .header__container
        a(href="index.html" rel="home")
            img.header__logo(src="./Images/logo.png", alt="Логотип")
        h1.header__title ТОО «Павлодарская Сельскохозяйственная Опытная Станция»
    .header__menu
        nav.menu
            .menu__item
                a.menu__link(href="index.html") Главная
            .menu__item.menu__item--dropdown
                a.menu__link(href="#") О институте
                .menu__container
                    a.menu__link(href="welcome.html") Добро пожаловать
                    a.menu__link(href="institution_card.html") Карточка учреждения
                    a.menu__link(href="history.html") История
                    a.menu__link(href="video_blog.html") Видео-блог
            .menu__item.menu__item--dropdown
                a.menu__link(href="#") Структура
                .menu__container
                    a.menu__link(href="leadership.html") Руководство
                    a.menu__link(href="administration.html") Администрация
                    a.menu__link(href="academic_council.html") Ученый совет
                    a.menu__link(href="doctors.html") Доктора
                    a.menu__link(href="scientific_departments.html") Научные отделы
                    a.menu__link(href="laboratories.html") Лаборатории
            .menu__item.menu__item--dropdown
                a.menu__link(href="#") Наука
                .menu__container
                    a.menu__link(href="main_directions.html") Основные направления
                    a.menu__link(href="state_task.html") Выполнение государственного задания
                    a.menu__link(href="grants.html") Гранты
                    a.menu__link(href="library.html") Библиотека
                    a.menu__link(href="catalogue_of_articles.html") Каталог статей