<!DOCTYPE html>
html
    block variables
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title !{title} | ТОО «Павлодарская Сельскохозяйственная Опытная Станция»
        link(rel="stylesheet", href="./Styles/main.min.css")
    body
        block header
        block content
        block footer
        block scripts