aside.sidebar
    .sidebar__menu
        nav.menu
            .menu__item
                a.menu__link(href="#") Новости и события
            .menu__item
                a.menu__link(href="#") Сорта
            .menu__item
                a.menu__link(href="#") Услуги
            .menu__item
                a.menu__link(href="#") Достижения
            .menu__item
                a.menu__link(href="#") Разработки
            .menu__item
                a.menu__link(href="#") Публикации
            .menu__item
                a.menu__link(href="#") Конференция
            .menu__item
                a.menu__link(href="#") Участие в СМИ
            .menu__item
                a.menu__link(href="#") Пресса о нас
            .menu__item
                a.menu__link(href="#") Наши партнеры
            .menu__item
                a.menu__link(href="#") Прайс-лист на семена