$duration: 0.25s;

// Виджет для поднятия страницы наверх
.page-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background:
    url(/assets/images/up-chevron.svg) 50% 40%/50% no-repeat,
    var(--primary-color);
  transition:
    opacity $duration ease-in-out,
    visibility $duration ease-in-out;

  // Скрытое состояние виджета
  &.page-up--hidden {
    opacity: 0;
    visibility: hidden;
  }
}
