// Сайдбар
.sidebar {
  padding: 20px 0;

  // Меню сайдбара
  .sidebar__menu {
    position: sticky;
    top: 40px;

    .menu {
      flex-direction: column;

      .menu__item {
        .menu__link {
          width: 100%;
        }
      }
    }
  }
}
