extends includes/main.pug

block variables
    - var title = "Главная"

block header
    include includes/header.pug

block footer
    include includes/footer.pug

block scripts
    script(src="./Scripts/page-up.min.js")
    script(src="./Scripts/main.min.js")

block content
    include includes/hero.pug
    .container.container--has-aside
        main.content
            h1.content__title О нас
            p.content__text Проведены работы по агроландшафтному районированию территории и агроэкологической группировки земель Павлодарской области, где выделены 17 агроландшафтных районов, в пределах которых выделяются 21 природно-территориальные комплексы, включающие 43 агроэкологические группы земель, применительно к которым должны разрабатываться агрокомплексы, включающие соответствующие им севообороты, системы обработки почвы, удобрений и защиты растений и другие мероприятия. На этой основе разработана модель адаптивно-ландшафтной системы земледелия на примере КХ «Замандас», которая внедрена на площади 7 400 га и обеспечила повышение урожайности сельскохозяйственных культур в хозяйстве от 4,0 до 6,5 ц/га, по сравнению с ранее получаемой урожайностью.
            p.content__text Разработанная учеными ПНИИСХ и предложенная для внедрения в производство технология накопления влаги за счет осенне-зимних осадков на основе создания стерневых кулис или сплошной очесанной стерни путем очеса стеблестоя зерновых культур является основным элементом влагосберегающей технологий для засушливых условий Северного Казахстана, которая применяется на площади 10,9 млн. га, или 63% всего зернового клина. В Павлодарской области данная технология внедрена на площади более 400 000га. Разработанные и рекомендованные учеными ПНИИСХ методы защиты растений применены на одной трети посевных площадей области. Под сортами селекции института заняты более 60% посевных площадей яровой пшеницы, 55% проса, 51% однолетних трав области. В перспективе ожидается доведение данных показателей до 75-80%. Определены нормы минеральных и органических удобрений в севооборотах, обеспечивающие прибавку урожая зерновых и крупяных культур на 2,0-2,5ц/га. Применяется на площади 64536 га. Разработаны технология получения биогумуса «Павлодарский» с содержанием гумуса 12-17%.
            p.content__text Инфраструктуру института составляет отделы селекции и первичного семеноводства, земледелия, полевого кормопроизводства, имеются лаборатории по определению качественных показателей зерновых и крупяных культур, агрохимическая лаборатория, лаборатория микроклонального размножения картофеля, лаборатория по производству биогумуса.
            p.content__text ТОО «ПНИИСХ» имеет статус производителя оригинальных и элитных семян зерновых, крупяных культур, семеноводческого хозяйства по производству семян однолетних и многолетних трав, имеются сенокосные угодья. На базе крупных хозяйств области закладываются демонстрационные площадки, питомники размножения семян зерновых, крупяных и кормовых культур селекции ПНИИСХ пользующихся повышенным спросом товаропроизводителей.
            p.content__text Научно-методические услуги по внедрению научных разработок ПНИИСХ в сельхозформирования производится на основе договоров о созданий научно-технической продукций.
            p.content__text Выступления ученых на днях поля, выставках, конференциях, круглых столах и других мероприятиях с участием представителей власти региона и сельхозтоваропроизводителей, а также в средствах массовой информации, формируют информационное пространство, способствующее развитию сельскохозяйственного производства целого региона.
        include includes/sidebar.pug