extends includes/main.pug

block variables
    - var title = "Библиотека"

block header
    include includes/header.pug

block footer
    include includes/footer.pug

block scripts
    script(src="./Scripts/page-up.min.js")
    script(src="./Scripts/main.min.js")

block content
    .container
        include includes/404.pug
        //- main.content