extends includes/main.pug

block variables
    - var title = "Добро пожаловать"

block header
    include includes/header.pug

block footer
    include includes/footer.pug

block scripts
    script(src="./Scripts/page-up.min.js")
    script(src="./Scripts/main.min.js")

block content
    .container
        main.content
            h1.content__title Добро пожаловать
            img.content__image(src="./Images/station.jpg", alt="Вид на станцию")
            p.content__text 11 ноября 1993 года решением Кабинета Министров РК за №1047 путем слияния научно-исследовательских учреждений аграрного профиля Павлодарской области на базе Павлодарской опытной станций по защите почв от эрозий был организован Павлодарский научно-исследовательский институт сельского хозяйства. На оснований решения совета директоров АО «КАИ» от 15 декабря 2008 года №1 организовано ТОО «Павлодарский  научно-исследовательский  институт сельского хозяйства».
            h2.content__subtitle Миссия
            p.content__text Обеспечение потребности рынка оригинальными семенами высокорентабельных сортов сельскохозяйственных культур с высоким генетическим потенциалом продуктивности, устойчивостью к стрессам, способностью давать продукцию хорошего качества и прогрессивными технологиями их возделывания.
            h2.content__subtitle Специализация
            p.content__text Земледелие, плодоовощеводство, кормопроизводство, селекция и семеноводство зерновых,  кормовых культур.