---
layout: layouts/base.pug
title: Основные направления
---

.container
  main.content
    h1.content__title.content__title--center Основополагающие идеи развития института
    p.content__text Для реализации проектов и инновационных программ и технологий в сельскохозяйственное производство необходимо изыскивать возможности работы с каждым сельхозформированием области на основе договорных рыночных отношений, а также с использованием бюджетных средств в рамках соответствующей бюджетной программы. Научным сопровождением ежегодно будет охвачено 7-8СХТП.
    p.content__text Для достижения поставленных целей необходимо повысить уровень конкурентоспособности научных продуктов и технологий на международном научном рынке, особенно учитывая конкуренцию со стороны стран Таможенного Союза.
    h2.content__subtitle Земледелие
    p.content__text Разработать и внедрить почво-ресурсосберегающие системы земледелия на адаптивно-ландшафтной основе, обеспечивающие производство сельскохозяйственной продукции в требуемых объемах и требуемого качества при эффективном использовании земли, сохранении экологической устойчивости агроландшафтов.
    h2.content__subtitle Селекция
    p.content__text Создать новые сорта и гибриды сельскохозяйственных культур с улучшенными качественными показателями, традиционными и биотехнологическими методами с использованием генетического потенциала существующих эталонных сортов для обеспечения эффективности растениеводства.
    h2.content__subtitle Семеноводство
    p.content__text Ведение первичного семеноводства зерновых, зернофуражных, крупяных культур, однолетних и многолетних  трав. Организация семеноводства картофеля на оздоровленной основе биотехнологическими методами и производство мини-растений, мини-клубней и 1-го полевого поколения.
    h2.content__subtitle Кормопроизводство
    p.content__text Разработать и внедрить в производство научно-обоснованные приемы восстановления деградированных пастбищ и сенокосов, способов обновления и омоложения многолетних трав, ресурсосберегающей технологии создания высококачественных сенокосов и пастбищ из злаково-бобовых травосмесей, для повышения продуктивности кормовых угодий и обеспечения устойчивого производства кормов.
    h2.content__subtitle Животноводство
    p.content__text Проведение анализа качества молока КРС СХТП Павлодарской области.
