header.header
  .header__container
    a(href="/" rel="home")
      img.header__logo(src="/assets/images/logo.png", alt="Логотип")
    h1.header__title ТОО «Павлодарская Сельскохозяйственная Опытная Станция»
  .header__menu
    nav.menu
      .menu__item
        a.menu__link(href="/") Главная
      .menu__item.menu__item--dropdown
        a.menu__link(href="#") О институте
        .menu__container
          a.menu__link(href="/welcome") Добро пожаловать
          a.menu__link(href="/institution_card") Карточка учреждения
          a.menu__link(href="/history") История
          a.menu__link(href="/video_blog") Видео-блог
      .menu__item.menu__item--dropdown
        a.menu__link(href="#") Структура
        .menu__container
          a.menu__link(href="/leadership") Руководство
          a.menu__link(href="/administration") Администрация
          a.menu__link(href="/academic_council") Ученый совет
          a.menu__link(href="/doctors") Доктора
          a.menu__link(href="/scientific_departments") Научные отделы
          a.menu__link(href="/laboratories") Лаборатории
      .menu__item.menu__item--dropdown
        a.menu__link(href="#") Наука
        .menu__container
          a.menu__link(href="/main_directions") Основные направления
          a.menu__link(href="/state_task") Выполнение государственного задания
          a.menu__link(href="/grants") Гранты
          a.menu__link(href="/library") Библиотека
          a.menu__link(href="/catalogue_of_articles") Каталог статей
